/* Colors */

COLOR-MAASTRICHT-BLUE = rgba(1, 22, 39, 1)
COLOR-RADICAL-RED = rgba(255, 51, 102, 1)
COLOR-MAXIMUM-BLUE-GREEN = rgba(46, 196, 182, 1)
COLOR-WHITE-SMOKE = rgba(246, 247, 248, 1)
COLOR-DODGER-BLUE = rgba(32, 164, 243, 1)
COLOR-WHITE = rgba(255, 255, 255, 1)
COLOR-BLACK = rgba(0, 0, 0, 1)
COLOR-ORANGE = rgba(231, 101, 65, 1)
COLOR-GREY = rgba(216, 216, 216, 1)